.hidden {
    display: none;
}




#score {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 0.7em;
    color: rgba(90, 200, 90, 0.8);
}

.startstapel{
    display: inline-block;
    position: relative;
    width: 15%;
    height: 300px;
    background-color:#adff2f;
    float:left;
    margin:30px;
    margin-top: 5px;
    margin-left: 5px;
    color:white;
    border-radius: 18px;
    text-align: center;
    font-size: 80px;
    font-family: "charming";
    src: url("../fonts/charming-font/Achafont.ttf");
    vertical-align: middle;
    border: 3px solid #000;
   background-image: url("../images/spielkarten2.png");
   box-shadow:1px 1px 6px #3B0B0B;
    ;
}

.startstapel2{
    display: inline-block;
    position: relative;
    width: 15%;
    height: 300px;
    background-color:#adff2f;
    float:left;
    margin:30px;
    margin-top: 5px;
    margin-left: 5px;
    color:white;
    border-radius: 18px;
    text-align: center;
    font-size: 80px;
    font-family: "charming";
    src: url("../fonts/charming-font/Achafont.ttf");
    vertical-align: middle;
    border: 3px solid #000;
   background-image: url("../images/spielkarten3.png");
   box-shadow:1px 1px 6px #3B0B0B;
   text-align: center;
    ;
}

.nachzugstapel{
    display: inline-block;
    position: relative;
    width: 15%;
    height: 300px;
    background-color:#20b2aa;
    float:right;
    margin-top: 5px;
    color:white;
     border-radius: 18px;
     text-align: center;
     border: 3px solid #000;
      font-family: "charming";
       font-size: 80px;
    src: url("../fonts/charming-font/Achafont.ttf");
     background-image: url("../images/nachzug1.png");
     box-shadow:1px 1px 6px #3B0B0B;
    ;
}

.handkarte{
    display: inline-block;
    position: relative;
    width:5%;
    height:100px;
    background-color: red;
    border: 2px solid #000;
    float:left;
    margin-top: 5px;
    border-radius: 18px;
    margin:28px;
    text-align: center;
    box-shadow:1px 1px 3px #3B0B0B;
    font-family: "charming";
       font-size: 60px;
    src: url("../fonts/charming-font/Achafont.ttf");
    color:white;
    background-image: url("../images/handkarten1.png");
}

.button{

    background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #000000);
  background-image: -moz-linear-gradient(top, #d93434, #000000);
  background-image: -ms-linear-gradient(top, #d93434, #000000);
  background-image: -o-linear-gradient(top, #d93434, #000000);
  background-image: linear-gradient(to bottom, #d93434, #000000);
  webkit-border-radius: 28;
  moz-border-radius: 28;
  border-radius: 0px;
  text-shadow: 1px 1px 6px #d93434;
  webkit-box-shadow: 0px 1px 3px #d93434;
  moz-box-shadow: 0px 1px 3px #d93434;
  box-shadow: 0px 1px 3px #d93434;
  font-family: Helvetica;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.button:hover{

    background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #d93434);
  background-image: -moz-linear-gradient(top, #000000, #d93434);
  background-image: -ms-linear-gradient(top, #000000, #d93434);
  background-image: -o-linear-gradient(top, #000000, #d93434);
  background-image: linear-gradient(to bottom, #000000, #d93434);
  text-decoration: none;
}

.button2{

    background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #000000);
  background-image: -moz-linear-gradient(top, #d93434, #000000);
  background-image: -ms-linear-gradient(top, #d93434, #000000);
  background-image: -o-linear-gradient(top, #d93434, #000000);
  background-image: linear-gradient(to bottom, #d93434, #000000);
  webkit-border-radius: 28;
  moz-border-radius: 28;
  border-radius: 0px;
  text-shadow: 1px 1px 6px #d93434;
  webkit-box-shadow: 0px 1px 3px #d93434;
  moz-box-shadow: 0px 1px 3px #d93434;
    display: block;
    margin-left: auto;
    margin-right: auto ;
  box-shadow: 0px 1px 3px #d93434;
  font-family: Helvetica;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}
.button2:hover{

    background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #d93434);
  background-image: -moz-linear-gradient(top, #000000, #d93434);
  background-image: -ms-linear-gradient(top, #000000, #d93434);
  background-image: -o-linear-gradient(top, #000000, #d93434);
  background-image: linear-gradient(to bottom, #000000, #d93434);
  text-decoration: none;
}

;