@font-face {
      font-family: "charming";
    src: url("../fonts/charming-font/Achafont.ttf");
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    background: black;
    
    color: #333;
}

header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    background: black;
    color:white;
    font-family: 'charming', serif;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
}

header h1 {
    display: block;
  
    
    margin: 0;
    padding: 0;
    line-height: 70px;
    font-size: 1.5em;
    text-align: center;

}

content h2 {
     display: block;
    color:white;
    margin: 0;
    padding: 0;
    line-height: 70px;
    font-size: 1.5em;
    text-align: center;

}

content h3 {
     display: block;
    color:white;
    margin: 0;
    padding: 0;
    line-height: 50px;
    font-size: 1.0em;
    text-align: center;
}

header #menu {
    display: inline;
    position: absolute;
    right: 2%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 70px;
}

header #menu li {
    display: inline-block;
    margin: 0 1em 0 0;
}

header #menu a {
    text-decoration: none;
    color: #333;
}

header #menu a:hover {
    color: rgb(128, 114, 250);
}

header #menu a.active {
    color: rgb(250, 114, 146);
}


footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 1%;
    text-align: center;
    
}

content {
    flex: 1;
    min-height: 100%;
    padding: 25px;
    margin-top: 90px;
    background-color: #000;
    color:white;
    background-image: url("../images/background.png");
    background-repeat: repeat-x;

 
}